#main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn{
    background-color: rgb(246, 101, 101);
    height: 50px;
    margin-bottom: 20px;
}

#traffic_light{
    background-color: rgb(35, 29, 41);
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.color{
    background-color: beige;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.color.red {
    background-color: rgb(236, 8, 8);
}

.color.yellow {
    background-color: rgb(246, 238, 77);
}

.color.green {
    background-color: rgb(36, 123, 2);
}